<section class="avanpost-use-cases">
    <div class="avanpost-use-cases__inner center_block">
        <div class="avanpost-use-cases__top">
            <div class="avanpost-use-cases__heading">Сценарии применения:</div>

            <div class="avanpost-use-cases__grid">
                <div class="avanpost-use-cases__item">
                    <div class="avanpost-use-cases__item-title">Онбординг и оффбординг</div>
                    <div class="avanpost-use-cases__item-text">
                        Автоматическое назначение и отзыв прав при приёме
                        или увольнении сотрудников
                    </div>
                </div>

                <div class="avanpost-use-cases__item">
                    <div class="avanpost-use-cases__item-title">Многофакторная аутентификация (MFA)</div>
                    <div class="avanpost-use-cases__item-text">
                        Защита доступа к критически важным системам и данным
                    </div>
                </div>

                <div class="avanpost-use-cases__item">
                    <div class="avanpost-use-cases__item-title">Сертификация прав</div>
                    <div class="avanpost-use-cases__item-text">
                        Регулярная проверка корректности выданных доступов
                        и отчётность для ИБ
                    </div>
                </div>

                <div class="avanpost-use-cases__item">
                    <div class="avanpost-use-cases__item-title">Управление подрядчиками</div>
                    <div class="avanpost-use-cases__item-text">
                        Безопасное подключение внешних пользователей
                        с временными правами
                    </div>
                </div>

                <div class="avanpost-use-cases__item">
                    <div class="avanpost-use-cases__item-title">Zero Trust-сценарии</div>
                    <div class="avanpost-use-cases__item-text">
                        Динамическая проверка прав при обращении
                        к корпоративным ресурсам
                    </div>
                </div>

                <div class="avanpost-use-cases__item">
                    <div class="avanpost-use-cases__item-title">Интеграция с BPM и DMS</div>
                    <div class="avanpost-use-cases__item-text">
                        Автоматический контроль доступа к процессам
                        и документам по ролям.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
