<section class="avanpost-benefits">
    <div class="avanpost-benefits__inner center_block">
        <h2 class="avanpost-benefits__title">Преимущества для вашего бизнеса:</h2>

        <div class="avanpost-benefits__grid">
            <div class="avanpost-benefits__card">
                <img class="avanpost-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="avanpost-benefits__card-text">
                    Снижение рисков киберинцидентов за счёт строгого контроля доступа и MFA
                </div>
            </div>

            <div class="avanpost-benefits__card">
                <img class="avanpost-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="avanpost-benefits__card-text">
                    Соответствие требованиям ФЗ-152 и ФСТЭК - готовность к проверкам и аудитам
                </div>
            </div>

            <div class="avanpost-benefits__card">
                <img class="avanpost-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="avanpost-benefits__card-text">
                    Экономия времени администраторов - автоматизация выдачи и отзыва прав
                </div>
            </div>

            <div class="avanpost-benefits__card">
                <img class="avanpost-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="avanpost-benefits__card-text">
                    Удобство для пользователей - единый вход во все корпоративные системы без необходимости множества паролей
                </div>
            </div>

            <div class="avanpost-benefits__card">
                <img class="avanpost-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="avanpost-benefits__card-text">
                    Прозрачность управления доступами - понятные правила и регулярная сертификация прав.
                </div>
            </div>

            <div class="avanpost-benefits__card">
                <img class="avanpost-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="avanpost-benefits__card-text">
                    Гибкая масштабируемость - возможность поэтапного внедрения модулей в разных подразделениях.
                </div>
            </div>
        </div>
    </div>
</section>
