<section class="analytics-data">
    <div class="analytics-data__inner center_block">
        <h2 class="analytics-data__title">Аналитика и управление данными</h2>

        <div class="analytics-data__layout">
            <div class="analytics-data__column analytics-data__column_left">
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">
                        На основе импортных и отечественных Enterprise систем
                    </h3>

                    <div class="analytics-data__visual">
                        <div class="analytics-data__tag">Open Source</div>
                        <div class="analytics-data__tag">Data quality</div>
                        <div class="analytics-data__tag">BI</div>
                        <div class="analytics-data__tag">ETL / ELT</div>
                    </div>
                    <div class="analytics-data__item-text">
                        Анализируем и внедряем решения на базе проверенных
                        корпоративных платформ
                    </div>
                </article>
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">
                        Архитектура хранилищ
                    </h3>
                    <div class="analytics-data__item-text">
                        Проектирование и разработка корпоративной архитектуры
                        хранения данных
                    </div>
                </article>
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">ETL/ELT процессы</h3>
                    <div class="analytics-data__item-text">
                        Извлечение, трансформация и загрузка данных, обеспечение
                        чистоты и однородности
                    </div>
                </article>
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">
                        Оптимизация производительности
                    </h3>
                    <div class="analytics-data__item-text">
                        Повышение скорости работы и надежности баз данных в
                        корпоративных хранилищах
                    </div>
                </article>
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">
                        Управление качеством данных
                    </h3>
                    <div class="analytics-data__item-text">
                        Data governance, каталогизация и поддержание высокого
                        уровня точности и актуальности данных
                    </div>
                </article>
            </div>
            <img
                class="analytics-data__cube"
                src="./img/cube.png"
                alt=""
                aria-hidden="true"
            />

            <div class="analytics-data__column analytics-data__column_right">
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">
                        На базе Open Source решений
                    </h3>

                    <div class="analytics-data__visual">
                        <div class="analytics-data__tag">Open Source</div>
                        <div class="analytics-data__tag">Data quality</div>
                        <div class="analytics-data__tag">BI</div>
                        <div class="analytics-data__tag">ETL / ELT</div>
                    </div>
                    <div class="analytics-data__item-text">
                        Снижение зависимости от лицензий и гибкость в построении
                        решений
                    </div>
                </article>
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">BI-платформы</h3>
                    <div class="analytics-data__item-text">
                        Развертывание и внедрение платформ бизнес-аналитики
                        решений
                    </div>
                </article>
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">
                        Визуальные отчеты
                    </h3>
                    <div class="analytics-data__item-text">
                        Создание дашбордов и интерактивной отчетности
                    </div>
                </article>
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">
                        Моделирование и прогнозирование
                    </h3>
                    <div class="analytics-data__item-text">
                        Использование прогностических моделей для выявления
                        закономерностей и трендов
                    </div>
                </article>
                <article class="analytics-data__item">
                    <h3 class="analytics-data__item-title">
                        Интеграция и безопасность
                    </h3>
                    <div class="analytics-data__item-text">
                        Объединение данных из всех корпоративных систем (ERP,
                        CRM, HR, IoT, E-commerce)
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
