<section class="mcp-program">
    <div class="mcp-program__inner center_block">
        <h2 class="mcp-program__title">Merchandising Control Program</h2>
        <div class="mcp-program__subtitle">
            Интеллектуальная система контроля продаж
        </div>

        <div class="mcp-program__card">
            <div class="mcp-program__card-in">
                <div class="mcp-program__card-title">MCP</div>

                <div class="mcp-program__list">
                    <div class="mcp-program__item">
                        <div class="mcp-program__item-mark"></div>
                        <div class="mcp-program__item-text">
                            Цифровизация продаж и предиктивная аналитика
                        </div>
                    </div>
                    <div class="mcp-program__item">
                        <div class="mcp-program__item-mark"></div>
                        <div class="mcp-program__item-text">
                            Формирование профилей магазина и покупателя
                        </div>
                    </div>
                    <div class="mcp-program__item">
                        <div class="mcp-program__item-mark"></div>
                        <div class="mcp-program__item-text">
                            Контроль процессов продаж
                        </div>
                    </div>
                    <div class="mcp-program__item">
                        <div class="mcp-program__item-mark"></div>
                        <div class="mcp-program__item-text">
                            Система оперативных рекомендаций на базе алгоритмов
                            искусственного интеллекта
                        </div>
                    </div>
                    <div class="mcp-program__item">
                        <div class="mcp-program__item-mark"></div>
                        <div class="mcp-program__item-text">
                            Извлечение паттернов продаж в магазинах
                        </div>
                    </div>
                    <div class="mcp-program__item">
                        <div class="mcp-program__item-mark"></div>
                        <div class="mcp-program__item-text">
                            Визуальное представление данных
                        </div>
                    </div>
                </div>
            </div>

            <img
                class="mcp-program__triangle"
                src="./img/triangle.png"
                alt=""
                aria-hidden="true"
            />
        </div>
    </div>
</section>
