<section class="expertise">
    <img class="expertise__decor expertise__decor_left" src="./img/expertise_l.png" alt="" aria-hidden="true">
    <img class="expertise__decor expertise__decor_right" src="./img/expertise_r.png" alt="" aria-hidden="true">

    <div class="expertise__inner center_block">
        <div class="expertise__head">
            <h2 class="expertise__title">
                Специализируемся на реализации
                <br>
                комплексных ИТ-проектов
            </h2>
            <div class="expertise__text">
                Наша экспертиза охватывает весь жизненный цикл
                ИТ-инициатив - от стратегии до поддержки
            </div>
        </div>

        <div class="expertise__grid">
            <div class="expertise__card expertise__card_top">
                <div class="expertise__card-icon">
                    <img src="./img/expertise_icon_gear.svg" alt="">
                </div>
                <div class="expertise__card-text">Внедрение Enterprise - программного обеспечения</div>
                <div class="expertise__card-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="expertise__card expertise__card_top">
                <div class="expertise__card-icon">
                    <img src="./img/expertise_icon_bulb.svg" alt="">
                </div>
                <div class="expertise__card-text">ИТ-консалтинг и аудит бизнес-процессов</div>
                <div class="expertise__card-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="expertise__card expertise__card_top">
                <div class="expertise__card-icon">
                    <img src="./img/expertise_icon_link.svg" alt="">
                </div>
                <div class="expertise__card-text">Системная интеграция и построение архитектур</div>
                <div class="expertise__card-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="expertise__card expertise__card_bottom">
                <div class="expertise__card-icon">
                    <img src="./img/expertise_icon_gear.svg" alt="">
                </div>
                <div class="expertise__card-text">Разработка и реализация ИТ - стратегий</div>
                <div class="expertise__card-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div class="expertise__card expertise__card_bottom">
                <div class="expertise__card-icon">
                    <img src="./img/expertise_icon_bulb.svg" alt="">
                </div>
                <div class="expertise__card-text">Заказная разработка и сопровождение программных решений</div>
                <div class="expertise__card-menu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</section>
