<section class="hero">
    <div class="hero__inner center_block">
        <div class="hero__content">
            <div class="hero__eyebrow">
                <span class="hero__eyebrow-line"></span>
                <span class="hero__eyebrow-text">Amber Labs</span>
                <span class="hero__eyebrow-line"></span>
            </div>

            <h1 class="hero__title">
                Ваш надежный ИТ-партнёр
                <br>
                в трансформации бизнеса
            </h1>

            <div class="hero__text">
                Наша экспертиза охватывает весь жизненный цикл
                ИТ-инициатив: от стратегии до поддержки.
            </div>
        </div>
    </div>

    <img class="hero__arc" src="./img/hero_arc.svg" alt="" aria-hidden="true">
</section>
