<section class="insight-value">
    <div class="insight-value__inner center_block">
        <div class="insight-value__hero">
            <div class="insight-value__hero-title">Ключевая ценность</div>
            <div class="insight-value__hero-text">
                Insight превращает данные в понятные показатели и визуализации, повышая прозрачность бизнеса и снижая нагрузку на IT благодаря self-service аналитике.
            </div>
        </div>

        <div class="insight-value__grid">
            <div class="insight-value__column">
                <div class="insight-value__column-title">Основные возможности</div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Подключение к корпоративным и внешним источникам данных</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Интерактивные дашборды и готовые отчёты</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Безопасность и управление доступом</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Self-service аналитика без участия IT</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Просмотр на любом устройстве</div>
                </div>
            </div>

            <div class="insight-value__column">
                <div class="insight-value__column-title">Преимущества для бизнеса</div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Единая версия правды</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Быстрая подготовка отчётности</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Прозрачность в реальном времени</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Гибкое создание отчётов</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Снижение нагрузки на IT</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Поддержка культуры data-driven</div>
                </div>
            </div>

            <div class="insight-value__column">
                <div class="insight-value__column-title">Типовые сценарии применения</div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Оперативные дашборды для руководителей</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Работа ситуационных центров</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Аналитика продаж и маркетинга</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Контроль SLA и качества сервиса</div>
                </div>

                <div class="insight-value__item">
                    <img class="insight-value__item-icon" src="./img/expertise_icon_gear.svg" alt="">
                    <div class="insight-value__item-text">Мониторинг ключевых показателей</div>
                </div>
            </div>
        </div>
    </div>
</section>
