<section class="app-development" id="app-development">
    <div class="app-development__inner center_block">
        <h2 class="app-development__title">
            Разработка приложений
            <span aria-hidden="true">
                <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M16.175 13H4V11H16.175L10.575 5.4L12 4L20 12L12 20L10.575 18.6L16.175 13Z"
                        fill="url(#paint0_linear_2024_3070)"
                    ></path>
                    <defs>
                        <linearGradient
                            id="paint0_linear_2024_3070"
                            x1="11.9676"
                            y1="1.44007"
                            x2="11.0922"
                            y2="35.4621"
                            gradientUnits="userSpaceOnUse"
                        >
                            <stop stop-color="#F4BE00"></stop>
                            <stop offset="0.370192" stop-color="#F19023"></stop>
                            <stop offset="0.870192" stop-color="#EE6D00"></stop>
                            <stop offset="1" stop-color="#C35900"></stop>
                        </linearGradient>
                    </defs>
                </svg>
            </span>
        </h2>

        <div class="app-development__layout">
            <div class="app-development__column app-development__column_left">
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        Frontend-разработка<br />
                        (React, Vue.js, Angular)
                    </div>
                </article>
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        Backend-разработка для <br />мобильных приложений
                    </div>
                </article>
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        UI/UX дизайн и <br />пользовательский опыт
                    </div>
                </article>
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        Кроссплатформенная <br />разработка <br />(Flutter и
                        React Native)
                    </div>
                </article>
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        iOS (Swift, Objective-C),<br />
                        Android (Kotlin, Java)
                    </div>
                </article>
            </div>

            <img
                class="app-development__globe"
                src="./img/globus.png"
                alt=""
                aria-hidden="true"
            />

            <div class="app-development__column app-development__column_right">
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        Backend (Java, Kotlin, Scala, Node.js, <br />Python,
                        .NET, PHP)
                    </div>
                </article>
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        DevOps и CI/CD (Docker, <br />Kubernetes, AWS, Azure)
                    </div>
                </article>
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        CRM, ERP, BPM системы
                    </div>
                </article>
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        Big Data, аналитика и AI <br />(машинное обучение)
                    </div>
                </article>
                <article class="app-development__item">
                    <div class="app-development__item-title">
                        Интеграция с IoT и Smart-технологиями
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>
