<section class="arenadata-benefits">
    <div class="arenadata-benefits__inner center_block">
        <h2 class="arenadata-benefits__title">Преимущества для вашего бизнеса:</h2>

        <div class="arenadata-benefits__grid">
            <div class="arenadata-benefits__card">
                <img class="arenadata-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="arenadata-benefits__card-title">Импортонезависимость</div>
                <div class="arenadata-benefits__card-text">
                    отсутствие зависимости от санкционных рисков и зарубежных лицензий
                </div>
            </div>

            <div class="arenadata-benefits__card">
                <img class="arenadata-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="arenadata-benefits__card-title">Высокая производительность</div>
                <div class="arenadata-benefits__card-text">
                    параллельная обработка больших массивов данных с минимальными задержками
                </div>
            </div>

            <div class="arenadata-benefits__card">
                <img class="arenadata-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="arenadata-benefits__card-title">Гибкость и масштабируемость</div>
                <div class="arenadata-benefits__card-text">
                    расширение кластера без остановки системы, работа с любыми типами данных
                </div>
            </div>

            <div class="arenadata-benefits__card">
                <img class="arenadata-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="arenadata-benefits__card-title">Экономическая эффективность</div>
                <div class="arenadata-benefits__card-text">
                    снижение совокупной стоимости владения по сравнению с классическими DWH
                </div>
            </div>

            <div class="arenadata-benefits__card">
                <img class="arenadata-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="arenadata-benefits__card-title">Поддержка сложных сценариев аналитики</div>
                <div class="arenadata-benefits__card-text">
                    от отчётности до real-time аналитики и предиктивных моделей
                </div>
            </div>

            <div class="arenadata-benefits__card">
                <img class="arenadata-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="arenadata-benefits__card-title">Соответствие требованиям РФ</div>
                <div class="arenadata-benefits__card-text">
                    сертификация и поддержка отечественного ПО и инфраструктуры. Типовые сценарии применения
                </div>
            </div>
        </div>

        <img class="arenadata-benefits__gold" src="./img/gold.png" alt="" aria-hidden="true">
    </div>
</section>
