<section class="sap-hana" id="sap-hana">
    <div class="sap-hana__ticker" aria-hidden="true">
        <div class="sap-hana__ticker-track"></div>
    </div>
    <div class="sap-hana__inner center_block">
        <div class="sap-hana__head">
            <h2 class="sap-hana__title">SAP HANA</h2>
            <div class="sap-hana__subtitle">Позволяет бизнесу</div>
        </div>

        <div class="sap-hana__layout">
            <div class="sap-hana__benefits">
                <div class="sap-hana__benefit">
                    <div class="sap-hana__benefit-number">01</div>
                    <div class="sap-hana__benefit-text">
                        Получать детальную информацию о ключевых процессах
                    </div>
                </div>
                <div class="sap-hana__benefit">
                    <div class="sap-hana__benefit-number">02</div>
                    <div class="sap-hana__benefit-text">
                        Выявлять тренды и закономерности
                    </div>
                </div>
                <div class="sap-hana__benefit">
                    <div class="sap-hana__benefit-number">03</div>
                    <div class="sap-hana__benefit-text">
                        Использовать аналитические приложения, которые раньше были недоступны из-за технических или экономических ограничений
                    </div>
                </div>
            </div>

            <div class="sap-hana__scheme-wrap">
                <img
                    class="sap-hana__scheme"
                    src="./img/scheme.png"
                    alt="SAP HANA scheme"
                />
                <div class="sap-hana__caption">Project Description</div>
            </div>
        </div>
    </div>
</section>
