<section class="business-benefits">
    <div class="business-benefits__inner center_block">
        <h2 class="business-benefits__title">Преимущества для вашего бизнеса:</h2>

        <div class="business-benefits__grid">
            <div class="business-benefits__card">
                <img class="business-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="business-benefits__card-title">Скорость и гибкость</div>
                <div class="business-benefits__card-text">
                    Low-code подход позволяет быстро адаптировать процессы под меняющиеся требования без долгих циклов разработки
                </div>
            </div>

            <div class="business-benefits__card">
                <img class="business-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="business-benefits__card-title">Рост продаж</div>
                <div class="business-benefits__card-text">
                    Прозрачная воронка, автоматические напоминания и контроль конверсий на каждом этапе
                </div>
            </div>

            <div class="business-benefits__card">
                <img class="business-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="business-benefits__card-title">Высокий уровень сервиса</div>
                <div class="business-benefits__card-text">
                    Соблюдение SLA, отслеживание каждого обращения и омниканальное взаимодействие
                </div>
            </div>

            <div class="business-benefits__card business-benefits__card_offset">
                <img class="business-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="business-benefits__card-title">Прозрачность</div>
                <div class="business-benefits__card-text">
                    Полный контроль над работой команд и результатами в режиме реального времени
                </div>
            </div>

            <div class="business-benefits__card">
                <img class="business-benefits__card-icon" src="./img/expertise_icon_gear.svg" alt="">
                <div class="business-benefits__card-title">Снижение затрат</div>
                <div class="business-benefits__card-text">
                    Минимизация ручных операций и независимость от внешних разработчиков для доработок
                </div>
            </div>
        </div>
    </div>
</section>
