<section class="consulting-strategy">
    <div class="consulting-strategy__inner center_block">
        <div class="consulting-strategy__head">
            <h2 class="consulting-strategy__title">
                ИТ Консалтинг и Стратегия
                <span aria-hidden="true">
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M16.175 13H4V11H16.175L10.575 5.4L12 4L20 12L12 20L10.575 18.6L16.175 13Z"
                            fill="url(#paint0_linear_2024_3070)"
                        />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2024_3070"
                                x1="11.9676"
                                y1="1.44007"
                                x2="11.0922"
                                y2="35.4621"
                                gradientUnits="userSpaceOnUse"
                            >
                                <stop stop-color="#F4BE00" />
                                <stop offset="0.370192" stop-color="#F19023" />
                                <stop offset="0.870192" stop-color="#EE6D00" />
                                <stop offset="1" stop-color="#C35900" />
                            </linearGradient>
                        </defs>
                    </svg>
                </span>
            </h2>
            <div class="consulting-strategy__text">
                Работаем с компаниями на разных этапах развития ИТ-функции:
                помогаем ее выстроить с нуля или усиливаем уже существующую
                инфраструктуру
            </div>
        </div>

        <div class="consulting-strategy__panel">
            <ul class="consulting-strategy__list">
                <li class="consulting-strategy__item">
                    <span
                        class="consulting-strategy__item-mark"
                        aria-hidden="true"
                    ></span>
                    <span class="consulting-strategy__item-text"
                        >Комплексная оценка зрелости ИТ и архитектуры</span
                    >
                </li>
                <li class="consulting-strategy__item">
                    <span
                        class="consulting-strategy__item-mark"
                        aria-hidden="true"
                    ></span>
                    <span class="consulting-strategy__item-text"
                        >Внедрение облачных решений (public, private, hybrid) и
                        миграция в облако</span
                    >
                </li>
                <li class="consulting-strategy__item">
                    <span
                        class="consulting-strategy__item-mark"
                        aria-hidden="true"
                    ></span>
                    <span class="consulting-strategy__item-text"
                        >Разработка ИТ-стратегий выровненных с целями
                        бизнеса</span
                    >
                </li>
                <li class="consulting-strategy__item">
                    <span
                        class="consulting-strategy__item-mark"
                        aria-hidden="true"
                    ></span>
                    <span class="consulting-strategy__item-text"
                        >Внедрение ITIL, TOGAF, DevOps, Agile, продуктового
                        подхода</span
                    >
                </li>
                <li class="consulting-strategy__item">
                    <span
                        class="consulting-strategy__item-mark"
                        aria-hidden="true"
                    ></span>
                    <span class="consulting-strategy__item-text"
                        >Построение целевых операционных моделей (Target
                        Operating Model)</span
                    >
                </li>
                <li class="consulting-strategy__item">
                    <span
                        class="consulting-strategy__item-mark"
                        aria-hidden="true"
                    ></span>
                    <span class="consulting-strategy__item-text"
                        >Использование искусственного интеллекта и ML-моделей
                        для автоматизации, прогнозирования и принятия
                        решений</span
                    >
                </li>
                <li class="consulting-strategy__item">
                    <span
                        class="consulting-strategy__item-mark"
                        aria-hidden="true"
                    ></span>
                    <span class="consulting-strategy__item-text"
                        >Повышение гибкости, скорости и масштабируемости
                        ИТ-платформ</span
                    >
                </li>
            </ul>
        </div>

        <img
            class="consulting-strategy__decor"
            src="./img/star_consulting.png"
            alt=""
            aria-hidden="true"
        />
    </div>
</section>
