<section class="sap-factory">
    <div class="sap-factory__inner center_block">
        <div class="sap-factory__head">
            <h2 class="sap-factory__title">SAP S/4HANA Фабрика Конверсий</h2>
            <div class="sap-factory__text">
                Конверсия вашей информационной системы SAP ERP
                <br />
                на новую платформу SAP S/4HANA
            </div>
        </div>

        <div class="sap-factory__panel">
            <div class="sap-factory__grid">
                <div class="sap-factory__item">
                    <div class="sap-factory__item-mark"></div>
                    <div class="sap-factory__item-content">
                        <div class="sap-factory__item-text">
                            Виртуализация систем в облаке Amber Gate Cloud
                            позволит максимально быстро и недорого развернуть
                            среду и начать проект
                        </div>
                    </div>
                </div>
                <div class="sap-factory__item">
                    <div class="sap-factory__item-mark"></div>
                    <div class="sap-factory__item-content">
                        <div class="sap-factory__item-text">
                            Интеграции с существующими системами Заказчика для
                            включения их в проект трансформации
                        </div>
                    </div>
                </div>
                <div class="sap-factory__item">
                    <div class="sap-factory__item-mark"></div>
                    <div class="sap-factory__item-content">
                        <div class="sap-factory__item-text">
                            Использование собственной среды управления с
                            методологией SAP Activate с использованием
                            стандартных мессенджеров и портала для обмена
                            информацией.
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sap-factory__result-title">
            Результаты трансформации в S/4HANA
        </div>

        <div class="sap-factory__cards">
            <div class="sap-factory__card sap-factory__card_top">
                <div class="sap-factory__card-icon">
                    <img src="./img/expertise_icon_star.svg" alt="" />
                </div>
                <div class="sap-factory__card-title">
                    Конверсия на основе приоритетов:
                </div>
                <div class="sap-factory__card-text">
                    Выборочное преобразование данных позволяет применять
                    поэтапный подход фокусирующий первую фазу миграции до
                    S/4HANA на части бизнеса с самым высоким ROI и самым низким
                    TCI.
                </div>
            </div>

            <div class="sap-factory__card sap-factory__card_top">
                <div class="sap-factory__card-icon">
                    <img src="./img/expertise_icon_share.svg" alt="" />
                </div>
                <div class="sap-factory__card-title">Гибкость</div>
                <div class="sap-factory__card-text">
                    Оставайтесь в курсе текущих бизнес-процессов, но постепенно
                    переходите к инновациям SAP S/4HANA (переходите на SAP
                    S/4HANA в своем собственном темпе!) TCI.
                </div>
            </div>

            <div class="sap-factory__card sap-factory__card_top">
                <div class="sap-factory__card-icon">
                    <img src="./img/expertise_icon_dollar.svg" alt="" />
                </div>
                <div class="sap-factory__card-title">
                    Сокращение стоимости владения
                </div>
                <div class="sap-factory__card-text">
                    Системная и ландшафтная консолидация с гармонизированными /
                    упрощенными процессами и унифицированными основными данными
                    приводит к снижению эксплуатационных расходов.
                </div>
            </div>
        </div>
    </div>
</section>
