.arenadata {
    position: relative;
    padding: 80px 0 90px;
}

.arenadata__inner {
    position: relative;
}

.arenadata__title {
    max-width: 790px;
    margin: 0;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 34px;
    background: linear-gradient(180deg, #f4be00 0%, #f19023 37.02%, #ee6d00 87.02%, #c35900 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.28;
}

.arenadata__intro {
    margin-top: 44px;
}

.arenadata__intro-text {
    font-family: var(--second-family);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    line-height: 1.44;
}

.arenadata__intro-text + .arenadata__intro-text {
    margin-top: 18px;
}

.arenadata__label {
    margin-top: 56px;
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
}

.arenadata__grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: 48px;
    max-width: 1223px;
    margin-top: 28px;
}

.arenadata__item {
    display: flex;
    align-items: flex-start;
    gap: 18px;
}

.arenadata__item + .arenadata__item {
    margin-top: 16px;
}

.arenadata__item-mark {
    flex: 0 0 7px;
    width: 7px;
    min-height: 46px;
    height: stretch;
    border-radius: 999px;
    background: linear-gradient(180deg, #f3bc12 0%, #f19023 46%, #ee6d00 100%);
}

.arenadata__item-title {
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    line-height: 1.26;
}

.arenadata__item-text {
    margin-top: 6px;
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1.42;
}

@media all and (max-width: 1023px) {
    .arenadata {
        padding: 54px 0 72px;
    }

    .arenadata__title {
        max-width: none;
        font-size: 24px;
        line-height: 1.24;
    }

    .arenadata__item-mark {
        flex: 0 0 4px;
        width: 4px;
    }

    .arenadata__intro {
        max-width: none;
        margin-top: 24px;
    }

    .arenadata__intro-text {
        font-size: 13px;
        line-height: 1.42;
    }

    .arenadata__label {
        margin-top: 32px;
        font-size: 15px;
    }

    .arenadata__grid {
        grid-template-columns: 1fr;
        gap: 24px;
        margin-top: 22px;
    }

    .arenadata__item {
        gap: 12px;
    }

    .arenadata__item + .arenadata__item {
        margin-top: 16px;
    }

    .arenadata__item-mark {
        min-height: 48px;
    }

    .arenadata__item-title {
        font-size: 15px;
    }

    .arenadata__item-text {
        font-size: 13px;
        line-height: 1.4;
    }
}
